.main {
  margin-top: 56px;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 10.9375% 0 10.9375%;


  @media (max-width: 1024px) {
    width: 100vw;
  }

  @media (max-width: 1024px) {
    padding: 0 10px 0 10px ;
    width: 100vw;
  }

  @media (max-width: 600px) {
    //box-sizing: border-box;
    width: 100vw;
    padding: 0 10px 0 10px;
  }

  .boxHButton {
    padding: 0 0 10px 0;

    .boxTitleAndBurgerMenu {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .filteredBurgerMenu {
        display: none;
        width: 115px;
        height: 30px;
        align-items: center;
        justify-content: center;
        transform: translateY(50%);
        background-color: transparent;
        border: 1px solid #3c3c3c;
        font-family: "Exo 2", sans-serif;
        color: white;
        border-radius: 16px;
        font-size: 11.5px;

        @media (max-width: 600px) {
          display: flex;
        }

        &:hover {
          border: 1px solid #6e6e6e;
        }
      }
    }


    .Dropdown {
      position: absolute;
      width: 230px;
      background-color: #222223;
      border-radius: 11px;
      padding: 16px 0 16px 0;

      .boxDropdown {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;

        button {
          width: 100%;
          height: 40px;
          text-align: left;
          background-color: transparent;
          border: none;
          color: white;
          padding-left: 20px;
          font-weight: 700;
          font-size: 14px;

          &:hover {
            background-color: #696868;
          }

        }
      }
    }


  }
}

.boxListFilter {
  width: 100%;
  display: flex;

  @media (min-width: 601px) and (max-width: 1024px) {
    width: 98vw;
  }

  .catalogList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: start;
    //gap: 8px;


    
    @media (min-width: 601px) {
      padding: 0 20px 16px 10px;
    }
    @media (max-width: 600px) {

      width: 100vw;
      //gap: 1%;
    }
  }

  .CatalogSelectorsInp {
    transition: all ease 550ms;
    @media (max-width: 600px) {
      position: fixed;
      right: 0;
      top: 6%;
      width: 85vw;
      height: 120vh;
      background-color: #171717;
      z-index: 10;
      transform: translateX(85vw);
    }
  }

  .fon {

  }

  .fonActive {
    transition: all 550ms ease;
    position: fixed;
    top: -6%;
    left: -0.2%;
    width: 100vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }

  .CatalogSelectorsInpTransform {
    transition: transform ease 570ms;
    transform: translateX(0);
    display: flex;
    justify-content: center;
  }

  .selectorsInp {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 0 24px 0;

    @media (min-width: 600px) {
      transform: translateY(-13%);
    }
    @media (max-width: 600px) {
      width: 90%;
    }


    .boxInp {
      display: flex;
      flex-direction: column;
      gap: 7px;

      .boxTitle {
        width: 97%;
        padding: 0 5px 0 5px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 8px;

        .reset {
          padding: 5px;
          font-size: 12px;
          .X {
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }

      .wrapperInpMini {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        gap: 10px;

        .inputMini {
          padding: 13.5px 8px 13.5px 8px;
          display: inline-flex;
          border: none;
          border-radius: 15px;
          width: 45.4%;
          color: white;
          outline: none;
          background-color: #1d1d1e;

        }

      }

      .input {
        box-sizing: border-box;
        border: none;
        outline: none;
        color: white;
        font-weight: 700;
        background-color: #1d1d1e;
        width: 100%;
        border-radius: 16px;
        height: 43px;
        padding: 6px 10px 7px 10px;
        min-width: 0;
        -webkit-tap-highlight-color: transparent;

        ::placeholder {
          color: #787878;
        }

        .firstInputs {
          display: inline-flex;
          align-items: center;
          text-align: center;
          cursor: text;
          box-sizing: border-box;
          font-size: 1rem;
          position: absolute;
          padding: 12px;
          top: 0;
          left: 0;
          width: 100%;
          height: 20px;
          opacity: .7;
          border-radius: 16px;
          background-color: #222223;
          border: 5px solid #222223;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .07);
        }
      }
    }
  }
}

.buttonDropdown {
  position: relative;
  border: none;
  left: -1%;
  border-radius: 8px;
  padding: 5px 4px 5px 1%;
  cursor: pointer;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 14px;

  &:hover {
    background-color: #1f1f1f;
  }

  .RiArrowDropDownLine {
    transform: translateY(10%);
  }
}

.button {
  position: relative;
  border: none;
  border-radius: 15px;
  padding: 13.5px 4px 13.5px 4px;
  cursor: pointer;
  background-color: #1d1d1e;;
  color: white;

  &:hover {
    background-color: #2e2e2e;
  }
}

.element {

  @media (min-width: 1025px) {
    width: 20%;
    height: 22vw;
  }
  @media (min-width: 999px) and (max-width: 1024px) {
    width: 20%;
    height: 30vw;
  }
  @media (min-width: 860px) and (max-width: 999px) {
    width: 25%;
    height: 34vw;
  }

  @media (min-width: 718px) and (max-width: 860px) {
    width: 33.33%;
    height: 39%;
  }

  @media (min-width: 601px) and (max-width: 718px) {
    width: 50%;
    height: 25%;
  }

  @media (max-width: 600px) {
    width: 20%;
    height: 40vw;
  }

  @media (max-width: 570px) {
    width: 25%;
    height: 50vw;
  }

  @media (max-width: 472px) {
    width: 33.33%;
    height: 70.5vw;
  }

  @media (max-width: 372px) {
    width: 50%;
    height: 89vw;
  }
}

.wrapperForImg {
  @media (min-width: 999px) and (max-width: 1024px) {
    width: 100%;
    height: 70%;
  }

  @media (min-width: 860px) and (max-width: 999px) {
    width: 100%;
    height: 70%;
  }

  @media (min-width: 718px) and (max-width: 860px) {
    width: 100%;
    height: 80%;
  }
  @media (min-width: 601px) and (max-width: 718px) {
    width: 100%;
    height: 80%;
  }
}

.img {
  @media (max-width: 600px) {
    width: 100%;
    height: 28.40vw;
  }
  @media (max-width: 570px) {
    height: 100%;
  }
  @media (max-width: 472px) {
    height: 100%;
  }
  @media (max-width: 372px) {
    height: 100%;
  }
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  //margin: 16px 0 8px 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Exo 2", sans-serif;
  line-height: 1.2 ;
  font-size: 2.2rem;;
  margin: 16px 0 16px 0;
}

.resetBtn {
  border-radius: 8px;
  padding: 3px;
  transition: background-color 300ms;
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: background-color 700ms;
    background-color: #323232;
  }

}