.mangaContainer {
  max-width: 1100px;

  .wrapperBoxImg {
    @media (max-width: 600px) {
      height: 125vw;
    }

  }
  .boxImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    @media (min-width: 600px) {
      background-image: none;
    }
    .skyliton {
      margin-bottom: 5px;
      background-color: #2b2b2b;
      width: 250px;
      height: 450px;
      border-radius: 8px;
    }

    .backgroundImage {
      display: none;

      @media (max-width: 600px) {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 110%;
        z-index: -4;
      }
    }


    .photo {
      width: 250px;
      height: auto;
      border-radius: 8px;

      @media (max-width: 600px) {
        transform: translateY(30px);
        margin-top: 50px;
        width: 72.47vw;
        height: 108.71vw;
        object-fit: cover;
        border-radius: 15px;

      }
    }

  }

  .boxImg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    backdrop-filter: blur(5px); /* Размытие заднего фона */
    z-index: -3;
  }

  @media (max-width: 600px) {
    .boxImg::after {
      content: '';
      display: block;
      background: linear-gradient(180deg, transparent, #121212);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      z-index: -2;
    }
  }
}

.boxForButton {
  flex-direction: column;


  @media (max-width: 600px) {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 10%;
    gap: 40px;
    z-index: 10;
    display: none;

  }
  @media (min-width: 600px) {

  }

  .buttonA {
    background-color: #1976d2;
    border-radius: 8px;
    text-decoration: none;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px;

    @media (max-width: 600px) {
      border-radius: 24px;
      height: 50px;
    }
  }

  .buttonZakladkaDesktop {
    display: block;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #1976d2;
    color: white;


    @media (max-width: 600px) {
      display: none;
    }

  }
  .buttonZakladkaMobile {
    display: none;
    width: 60px;
    height: 50px;
    border-radius: 24px;
    border: none;
    background-color: #1976d2;
    color: white;

    @media (max-width: 600px) {
      display: block;
    }
  }

  .buttonNoneChapter {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #374a5c;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: no-drop;
    font-size: 16px;

    @media (max-width: 600px) {
      border-radius: 24px;
      height: 50px;

    }
  }



}