.boxForButton {
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    background-color: transparent;
    height: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: sticky;
    bottom: 60px;
    left: 10%;
    gap: 40px;
    z-index: 10;
  }
  @media (min-width: 601px) {
    display: none;
  }

  .buttonA {
    background-color: #1976d2;
    border-radius: 8px;
    text-decoration: none;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px;

    @media (max-width: 600px) {
      border-radius: 24px;
      height: 50px;
    }
  }

  .buttonZakladkaDesktop {
    display: block;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #1976d2;
    color: white;


    @media (max-width: 600px) {
      display: none;
    }

  }
  .buttonZakladkaMobile {
    display: none;
    width: 60px;
    height: 50px;
    border-radius: 24px;
    border: none;
    background-color: #1976d2;
    color: white;

    @media (max-width: 600px) {
      display: block;
    }
  }

  .buttonNoneChapter {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #374a5c;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: no-drop;
    font-size: 16px;

    @media (max-width: 600px) {
      border-radius: 24px;
      height: 50px;

    }
  }



}